<div class="sidebar">
  <div class="sidebar-head text-center mt-4">
    <div class="welcome-text">
      <small> Welcome! </small>
      <div>HRMS Dashboard</div>
    </div>
  </div>
  <div class="sidebar-list mt-3">
    <div class="section-menu">
      <div class="section-head">MENU</div>
      <ul>
        <li><a [routerLink]="['./attendance']" routerLinkActive="link-active"><i class="fa-solid fa-calendar-days me-2"></i>Attendance</a></li>
        <li><a [routerLink]="['./employee']" routerLinkActive="link-active"><i class="fa-solid fa-users me-2"></i>Employees</a></li>
      </ul>
    </div>
  </div>
</div>
